{% block title %} Stage 3: Questionnaire 3/3 {% endblock %}

{% block content %}


<style>
    .my-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>

<div class="my-box">
    This is the last questionnaire of the experiment. Afterwards, we will inform you about your bonus payoff.
    <br><br>

    We will describe over the next six pages several people. <br>
    Please read each description carefully, think about how much that person is or is not like you and adjust the sliders accordingly.

</div>

<br/>

<p>{{ next_button }}</p>

{% endblock %}

